* {
    justify-content: center;
    align-items: center;
    color: white;
}

body {
    background-image: url("./bgma.jpg");
    background-size: 20% 50%;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    text-align: center;
}


p {
    text-align: center;
}

.as {
    margin: 10px 430px;
    text-align: center;
}


